html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.main_container {
    margin-top: 50px;
}

/* Оформление главной страницы приложения */

.main_page h1{
    margin-top: 60px;
}

.main_page #main_picture{
    display: block;
    margin: 30px auto;
}

/* Таблица со отметкой об отсутствии */

.absence-block table {
    margin: 10px auto;
    background: #05dbbe;
    border-collapse: separate;
    border: 16px solid #05dbbe;
    border-radius: 5px;
}

.absence-block tr th {
    font-family: 'Noto Serif', serif;
    font-size: 13pt;
}

.absence-block tr td {
    font-family: 'Noto Serif', serif;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.absence-block tr:hover {
    background: #f3bd48;
    color: #fff;
}

/* Таблица со сменами */

.shift-block table {
    margin: 10px auto;
    background: #05dbbe;
    border-collapse: separate;
    border: 16px solid #05dbbe;
    border-radius: 5px;
}

.shift-block tr th {
    font-family: 'Noto Serif', serif;
    font-size: 13pt;
}

.shift-block tr td {
    font-family: 'Noto Serif', serif;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.shift-block tr:hover {
    background: #f3bd48;
    color: #fff;
}



